@import url('https://fonts.googleapis.com/css2?family=Betania+Patmos&display=swap');
@import "tailwindcss";

@theme {
    --color-linen: #F5F1EA;
    --color-khaki: #D7C9B8;
    --color-camel: #B2967D;
    --color-cocoa: #7D5A44;

    --font-betania-patmos: "betania"    
}

@keyframes autoFadeOut{
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.animate-auto-fade {
    animation: autoFadeOut 1s ease-out forwards;
    animation-delay: 2s;
}

@layer base {
    #root {
        @apply text-cocoa font-semibold
    }
    #home {
        @apply text-cocoa font-betania-patmos font-normal
    }

    #menu {
        @apply font-betania-patmos
    }

    #about {
        @apply font-betania-patmos
    }

    #arrows {
        @apply cursor-pointer rounded-full p-3 hover:scale-105 hover:bg-camel/20 text-cocoa
    }
    
    #nav {
        @apply bg-cocoa/85 text-linen active:bg-cocoa/90 shadow-2xl
    }

    #nav-link {
        @apply hover:bg-cocoa hover:font-semibold
    }

    #form-span {
        @apply text-red-500 absolute top-0 left-0 text-2xl -translate-x-2 -translate-y-3
    }

    button {
        @apply 
            text-linen 
            bg-cocoa/85 border-2 
            border-cocoa shadow-2xl 
            shadow-camel/70 rounded-2xl 
            hover:bg-cocoa/90 cursor-pointer 
            active:bg-cocoa/80 
            md:text-2xl 
            font-light 
            active:scale-103 
            hover:scale-105 
            duration-300 
            text-center   
            text-xl         
    };

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    };

    input {
        @apply bg-khaki/60 text-cocoa border-2 border-cocoa/80 shadow-2xl shadow-camel/90 
    };

    #footer-container{
        @apply bg-khaki/50
    }

    #footer-details {
        @apply flex flex-col items-center w-full h-full text-cocoa gap-y-4 [&_h1]:text-2xl
    }

}